@model IEnumerable<rad301_ca2_S00140633.Models.Actor>


<div id="ActorsDiv">
    <h4 style="color:teal" class="text-center">Actors in @ViewBag.MovieTitle</h4>
    @if (Model.Any())
    {
        <table class="table table-striped " id="actorTbl">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr data-item-id="@item.ActorId">
                    <td data-container="body" title="@item.Character">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        <span class="badge">@item.Gender.ToString().Substring(0, 1)</span>
                    </td>
                    <td>
                        <button onclick="EditActor(@item.ActorId)" class="btn btn-xs btn-info">Edit</button>
                        <button onclick="DeleteActor(@item.ActorId)" class="btn btn-xs btn-danger">Delete</button>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p class="col-md-offset-2">There are currently no actors in this movie </p>
    }
    <button onclick="CreateActor()" class="btn btn-xs btn-info col-md-offset-4">Add New Actor</button>
</div>

<script>
    $(function () {
        $("#actorTbl tr td:first-child").tooltip();//shows actors character when hover over
    });

    function CreateActor() {
        $.ajax({
            url: '@Url.Action("CreateActor", new { id = @ViewBag.MovieId })',
            success: function (data) {
                $('#ActorsDiv').hide();
                $('#ActorsDiv').html(data);
                $('#ActorsDiv').fadeIn(1000);
            },
            error: function () {
                $('#ActorsDiv').html('<h3>Error creating Actor</h3>');
            }
        });
    }

    function EditActor(ActorId) {
        debugger;
        $.ajax({
            url: '@Url.Action("EditActor")',
            type: 'GET',
            data: { id: ActorId },
            success: function (data) {
                $('#ActorsDiv').hide();
                $('#ActorsDiv').html(data);
                $('#ActorsDiv').fadeIn(1000);
            },
            error: function () {

            }
        });
    }
    function DeleteActor(ActorId) {
        debugger;
        $.ajax({
            url: '@Url.Action("DeleteActor")',
            data: { id: ActorId },
            success: function (data) {
                $('#ActorsDiv').hide();
                $('#ActorsDiv').html(data);
                $('#ActorsDiv').fadeIn(1000);
            },
            error: function () {

            }
        });
    }
    function BackActors(movieId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ActorsById")',
            data: { id: movieId },
            success: function (data) {
                $('#ActorsDiv').html(data);
                $('#ActorsDiv').fadeIn("slow");
                toastr.info('Hover over actor name to see their character')
            },
            error: function (data) {
                $('#ActorsDiv').html('<h3>Error in retrieval</h3>');
            }
        });
    }

</script>
