@model rad301_ca2_S00140633.Models.Actor


<div>
 
        <h4 style="color:teal" class="text-center">Delete @Model.FullName from @Model.Movie.Title ?</h4>
        <div class="col-md-offset-4">
            <button class="btn btn-xs btn-danger" onclick="ConfirmDeleteActor(@Model.ActorId)">Confirm</button> |
            <button class="btn btn-xs btn-info" onclick="BackActors(@Model.MovieId)">Back to Actors</button>
        </div>

</div>
<script>
    function ConfirmDeleteActor (ActorId) {
        debugger;
        $.ajax({
            url: '@Url.Action("DeleteActorConfirmed")',
            type: "POST",
            data: { id: ActorId},
            success: function (dataAct) {
                $.ajax({
                    url: '@Url.Action("HeaderDetails")',
                    type: "GET",
                    success: function (dataMovies) {
                        $.ajax({
                            url: '@Url.Action("showPieChart", new {id= @Model.MovieId })',
                            type: "GET",
                            success: function (dataPiechart) {
                                $('#ActorsDiv').hide();
                                $('#ActorsDiv').html(dataAct);
                                $('#ActorsDiv').fadeIn(1000);
                                $('#headerDetails').hide();
                                $('#headerDetails').html(dataMovies);
                                $('#headerDetails').fadeIn(1000);
                                $('#piechart').hide();
                                $('#piechart').html(dataPiechart);
                                $('#piechart').fadeIn(1000)
                            
                                },
                            error: function(dataPieChart)
                            {
                                $('#piechart').html('<h3>Error with update</h3>');
                            }
                        });
                    },
                    error: function (dataPieChart) {
                        $('#headerDetails').html('<h3>Error with update</h3>');
                    }
                });
            },
            error: function (dataPieChart) {
                $('#Actors').html('<h3>Error with Delete</h3>');
            }
        });
        return false;
    };



</script>