@model rad301_ca2_S00140633.Models.Movie


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditMovieForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="color:teal; margin-left:25%">Edit @Model.Title</h4>
        <hr />
        @Html.HiddenFor(model => model.MovieId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label id="lblError" style="color:red; display:none">*You must enter Movie Title</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cert, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Cert, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Genre, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="ratingsEdit" class="rateit" data-rateit-max="5" data-rateit-step="0.25" style="margin-top:14px"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-sm btn-success" />
                
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Movies", "Index", null, new { @class = "btn btn-info btn-xs" })
</div>
<script>
    $('#EditMovieForm').submit(function () {

        var value = $('#ratingsEdit').rateit('value');
        if ($(this).find('input[name="Title"]').val() != "") {

            $.ajax({
                url: '@Url.Action("Edit")',
                type: "POST",
                data: $(this).serialize() + "&Rating=" + value, // serialize the input controls for this form '#CreateChild'
                success: function () {
                    debugger;
                    window.location.reload(true);//reloads window
                },
                error: function() {
                    $(this).html('<h3>Error in retrieval</h3>');
                }
            });
        }
        else
        {
            $('#lblError').show();
        }
        return false;
    });
</script>