@model IEnumerable<rad301_ca2_S00140633.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {

        <div class="form-horizontal col-xs-12 col-sm-6 col-md-2  badge" id="FilterDiv">
            <div class="row">&nbsp;</div>
            <div class="form-group text-uppercase">Filter</div>
            <div class="form-group"><label class="col-sm-2 col-md-offset-1 col-xs-4 control-label input-sm">Genre</label><div class="col-md-7 col-xs-6"> @Html.DropDownList("movieGenre", null, "All", new { @class = "form-control input-sm" })</div></div>
            <div class="form-group"><label class="col-sm-2 col-md-offset-1 col-xs-4 control-label input-sm">Title</label><div class="col-md-7 col-xs-6"> @Html.TextBox("SearchString", "", new { @class = "form-control input-sm" })</div></div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-5">
                    <input type="submit" value="Filter" class="btn btn-sm btn-danger" />
                </div>
            </div>
        </div>


    }

    <div id="AllMovies" class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilmCert)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                    </td>
                </tr>
            }

        </table>
        <button onclick="CreateMovie()" class="btn btn-info" ></button>
    </div>

</div>
@section scripts
{
    <script>
        function CreateMovie() {

            $('#FilterDiv').block({ message: null });

            $.ajax({
                url: '@Url.Action("CreateMovie")',
                success: function (data) {
                    $('#AllMovies').hide();
                    $('#AllMovies').html(data);
                    $('#AllMovies').fadeIn(1000);
                },
                error: function () {
                  
                }
            }
            );
        }
        
    </script>
    }

