@model IEnumerable<rad301_ca2_S00140633.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div id="headerDetails">
        @Html.Action("HeaderDetails")
    </div>
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {

        <div class="form-horizontal col-xs-12 col-sm-6 col-md-2  badge" id="FilterDiv">
            <div class="row">&nbsp;</div>
            <h4 class="text-capitalize"><span class="glyphicon glyphicon-search " aria-hidden="true"></span>&nbsp;Search</h4>
            <div class="form-group"><label class="col-sm-2 col-md-offset-1 col-xs-4 control-label input-sm">Genre</label><div class="col-md-7 col-xs-6"> @Html.DropDownList("movieGenre", null, "All", new { @class = "form-control input-sm" })</div></div>
            <div class="form-group"><label class="col-sm-2 col-md-offset-1 col-xs-4 control-label input-sm">Title</label><div class="col-md-7 col-xs-6"> @Html.TextBox("SearchString", "", new { @class = "form-control input-sm" })</div></div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <input type="submit" value="Search" class="btn btn-xs btn-danger" />
                </div>
            </div>
        </div>


    }
    <div id="AllMovies" class="col-md-10">

        <div id="lstMovies" class="col-md-7">

            @Html.Partial("_AllMovies")
        </div>
        <div class="col-md-5" id="divActors" hidden="">

        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DeleteMovieForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" hidden="">
            <input type="hidden" name="id" id="DFormItemId" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }


</div>
@section topLevel{

    @{ Html.RenderPartial("_DeleteModal"); }

}
@section scripts
{
    <script>
        $(function() { // ready event
            toastr.info('Welcome to Movie Facts.Click on a movie to see its actors');
        });



        function CreateMovie() {


            $('#FilterDiv').block({ message: null });

            $.ajax({
                url: '@Url.Action("CreateMovie")',
                success: function (data) {
                    $('#AllMovies').hide();
                    $('#AllMovies').html(data);
                    $('#AllMovies').fadeIn(1000);
                    $('#ratings').rateit({ max: 5, step: 0.25, value: 3, });
                },
                error: function () {

                }
            });
        }
        function EditMovie(MovieId,rating) {


            $('#FilterDiv').block({ message: null });

            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'GET',
                data: { id: MovieId},
                success: function (data) {
                    $('#AllMovies').hide();
                    $('#AllMovies').html(data);
                    $('#AllMovies').fadeIn(1000);
                    $('#ratingsEdit').rateit({ max: 5, step: 0.25, value: rating});
                },
                error: function () {

                }
            });
        }
        //returns details partialview
        function DetailsMovie(MovieId) {

            $('#FilterDiv').block({ message: null });

            $.ajax({
                url: '@Url.Action("Details")',
                type: 'GET',
                data: { id: MovieId },
                success: function (data) {
                    $('#AllMovies').hide();
                    $('#AllMovies').html(data);
                    $('#AllMovies').fadeIn(1000);
                },
                error: function () {

                }
            });
        }

        $('#movieTbl tr').not(':first').click(function (evt) {
            var movieId = $(this).data("item-id");
            var $cell=$(evt.target).closest('td');//stop click event on the last column
            if ($cell.index() < 5) {
                $("#movieTbl tr").css("background", "#fff")
                $(this).css('background-color', '#ffffb3');
                showActors(movieId)
            }
        });

        function showActors(movieId)
        {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ActorsById")',
                data: { id: movieId },
                success: function (data) {
                    $('#divActors').html(data);
                    $('#divActors').fadeIn("slow");
                    toastr.info('Hover over actor name to see their character')
                },
                error: function (data) {
                    $('#divActors').html('<h3>Error in retrieval</h3>');
                }
            });
        }

        var readUrl = '@Url.Action("Delete")';
        var deleteUrl = '@Url.Action("DeleteConfirmed")';
        var confirmUrl = '@Url.Action("GetModalMovieDetails")';
        var previewContainer = $('#deleteConfirmModal #MovieDetailsPreview');
        var currentMovieId;

        function updateNotification(Movieid) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteMovieConfirmed")',
                type: "POST",
                data: { id: Movieid },
                success: function (data) {
                    window.location.reload(true);//reloads window
                }
            });
        }

            function confirmDelete(id) {
                debugger;
                currentMovieId = id;
                previewContainer.html('<p>Loading content...</p>');
                previewContainer.load(confirmUrl, { id: currentMovieId });
                $('#deleteConfirmModal').modal('show');
            }

            $(function () {
                $("#deleteConfirmModal").on('click', "#deleteConfirm", function () {
                    debugger;
                    updateNotification(currentMovieId);
                });
            });


    </script>
}

